<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
  <div class="container-fluid" ng-controller="MainController">
    <div class="row-fluid">

      <div class="span8">
        <div class="hero-unit">
          <form class="form-horizontal" ng-submit="postTweet()">
            <div class="control-group">
              <label class="control-label" for="inputTweet">Tweet:</label>
              <div class="controls">
                <textarea id="new-tweet-text" rows="3" placeholder="Type your tweet here..." ng-model="tweet"></textarea>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button id="tweet-button" type="submit" class="btn" ng-disabled="!tweet.length || tweet.length > 140">Tweet</button>
                <div id="characters">
                  <div class="label label-info" ng-show="tweet.length <= 140">{{140 - tweet.length}}</div>
                  <div class="label label-warning" ng-show="tweet.length > 140">{{140 - tweet.length}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="span4">
        <input type="text" ng-model="query">
        <!-- tweets go here -->
        <div id="{{tweet.id}}" class="tweet media" ng-repeat="tweet in tweets | filter:query | orderBy:'id':'true'">
          <a class="pull-left" href="#">
            <img class="media-object" width="50" ng-src="{{tweet.userAvatarUrl}}">
          </a>
          <div class="media-body">
            <b>@{{tweet.username}}</b>
            <div class="tweet-body media">
              <!-- tweet body goes here -->
                {{tweet.text}}
            </div>
            <div class="timestamp">{{tweet.timestamp | date:'medium'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
